@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap'); */

html {
  padding-right: 0 !important;
}

html::-webkit-scrollbar {
 width: 0px; /* Hide scrollbar */
 background: transparent; /* Optional: makes scrollbar track invisible */
}
 
body {
  font-family: 'Raleway', sans-serif;
  scrollbar-width: none; /* Firefox */
}



